[Unit]
Description=Grunt Presentation Service

[Service]
Type=simple
PIDFile=/var/run/gserve.pid
ExecStart=/usr/bin/grunt serve --port {{ presentation_server_port }}
WorkingDirectory=/home/vagrant/reveal.js/
User=vagrant
Group=vagrant

[Install]
WantedBy=multi-user.target